.form_input{
    display: grid;
    margin: auto;
}
.Main_edit{
    margin: auto;
    margin-top: 6vmin;
    justify-content: center;
    align-items: center;
}
.submit_button{
    background-color: lightblue;
    border-radius: 20px;
    margin: auto;
    margin-top: 3vmin;
    width: 25%;
    height: 5vmin;
    border: none;
    outline: none;
}
.submit_button:hover{
    background-color:lightcyan
}