.text_area{
    width: 95%;
    outline: none;
    border: none;
    resize: none;
    font-size:20px;
    font-weight: 500;
    margin-top: 3vmin;
    display: block;
    border-bottom: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
}
.message{
    width: 75%;
    margin: auto;
    margin-top:15px;
    border-radius: 20px;
    box-shadow: 1px 0px  5px 0px  grey;
}