.text_area{
    width: 95%;
    outline: none;
    border: none;
    resize: none;
    font-size:20px;
    font-weight: 500;
    margin-top: 3vmin;
    display: block;
    border-bottom: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
}
.message{
    width: 75%;
    margin: auto;
    margin-top:15px;
    padding-top: 5px;
    border-radius: 20px;
    box-shadow: 1px 0px  5px 0px  grey;
    padding-bottom: 15px;
}
.message_button{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    height: 35px;
    width: 25%;
    border: none;
    border-radius: 25px;
    background-color: lightblue;
    margin-top: 15px;
    text-align: center;
    padding-top: 5px;

}
.message_button:hover{
    transform: scale(1.02,1.02);
}